<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="text/plain" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <directoryBrowse enabled="true" />
	   <httpProtocol>
		 <customHeaders>
		   <add name="Access-Control-Allow-Origin" value="*" />
		 </customHeaders>
	   </httpProtocol>
    </system.webServer>
</configuration>

